<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Maplab - Alpha Version</title>
    
    <!-- Leaflet CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"/>
    
    <!-- Leaflet.draw CSS -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet-draw@1.0.4/dist/leaflet.draw.css" />

    <!-- Add Leaflet.Geocoder CSS -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet-control-geocoder/dist/Control.Geocoder.css" />
</head>

<body>
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
    <!-- Add Leaflet.Geocoder JS -->
    <script src="https://unpkg.com/leaflet-control-geocoder/dist/Control.Geocoder.js"></script>
    <!-- Leaflet.draw JS -->
    <script src="https://unpkg.com/leaflet-draw@1.0.4/dist/leaflet.draw.js"></script>
    
    <div id="sidebar">
        <div>
            <h1 style="text-align: center; margin: 5px 0;">MapLab</h2>
        </div>

        <div>
            <h2 style="text-align: center; margin: 5px 0;">Functions</h2>
        </div>
        <div class="button-grid">
            <button id="splitBtn" class="functionBtn">Split Map</button>
            <button id="drawBtn" class="functionBtn">Draw!</button>
            <button id="mirrorDrawBtn" class="functionBtn">Mirror Drawing</button>
            <button id="deleteDrawingsBtn" class="functionBtn">Delete Drawings</button>
            <button id="addMarkersBtn" class="functionBtn">Add Markers</button>
            <button id="deleteMarkersBtn" class="functionBtn">Delete Markers</button>
        </div>  
        

        <div>
            <h2 style="text-align: center; margin: 5px 0;">Data</h2>
        </div>
            <button id="getPoisButton" class="dataBtn">Get POIs (WIP...)</button>
            <button id="getBuildingsButton" class="dataBtn">Get Buildings (WIP...)</button>
            <button id="highlightBuildingButton" class="dataBtn">Highlight Single Building</button>
            <button id="addTopoButton" class="dataBtn">Add Topo-lines</button>
            <button id="deleteTopoButton" class="dataBtn">Delete Topo-lines</button>
            
        <div>
            <h2 style="text-align: center; margin: 5px 0;">About</h2>
        </div>
            <button id="unfinishedBtn2" class="aboutBtn">coming soon...</button>
    </div>

    <!-- Container for the two maps -->
    <div id="map-container">
        <div id="map1" class="map" style="height: calc(100vh - 50px);">
        </div>
        <div id="map-divider"></div>
        <div id="map2" class="map" style="height: calc(100vh - 50px);">
        </div>
    </div>

    <div id="spinner" class="spinner hidden"></div>
    
    <!-- Context Menu -->
    <div id="contextMenu" class="context-menu hidden">
        <div class="context-menu-item" data-layer="regular">Regular</div>
        <div class="context-menu-item" data-layer="satellite">Satellite</div>
        <div class="context-menu-item" data-layer="dark">Dark</div>
        <div class="context-menu-item" data-layer="bw">Black & White</div>
        <div class="context-menu-item" data-layer="hillshade">Hill-shade</div>
        <div class="context-menu-item" data-layer="watercolor">Watercolor</div>
        <div class="context-menu-item" data-layer="topography">Topography-lines</div>
    </div>
    
    <!-- Include helper functions first, then main script -->
    <script src="{{ url_for('static', filename='helpers.js') }}"></script>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>